*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    max-width: 80%;
    background-color: aquamarine;
    margin: auto;
    padding: 34px;
   
}

.container h1{
    text-align: center;
}

.container > form > input {
    display: flex;
    flex-direction: row;
    margin: 12px auto;

}